.button-primary, 
.button-secondary, 
.button-tertiary {
    height: 36px;
    border-radius: 100px;
    padding: 5px 20px;
    font-family: inherit;
    font-weight: 600;
    background: transparent;
}

.button-primary {
    border: 2px solid #ff0000;

  color: #ff0000;
}

.button-primary:hover {
    background:#ff0000;
    color: #fff;
}

.button-secondary {
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #222;
}
.button-secondary:hover {
    border-color: #222;
}

.button-tertiary  {
    border: 2px solid #fff;
    color: #fff;
}
.button-tertiary:hover {
    background:#fff;
    color: #222;
}
