.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex ;
}

.header ul {
    list-style: none;
}

.header ul a,
.header ul a:visited {
    color: #222;
    text-decoration: none;
}

.header ul a:hover {
    color: #FF0000
}
























